<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@4.22.0/styles.min.css"/>
  </head>
  <body>
    
    <%= react_component("App") %>
  
 

    <ul>
      <% @products.each do |product| %>
        <li><%= product.title %></li>
      <% end %>
    </ul>
    <ul>
      <% @customers.each do |customer| %>
        <li><%= customer.first_name %></li>
      <% end %>
    </ul>

    
    <%= @result.data.customer_update.customer.id %>

    

   
  </body>
</html>

